webfont('YoungSerif', 'YoungSerif-Regular')
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

font_input()
  font-family 'Lato', 'Helvetica', sans-serif
  color colors_text
  font-weight 700
  +media(mobile)
    font-size 20px
