.input
  border none
  opacity 1
  transition opacity 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750)
  margin 0 0 20px 0

.input--hidden
  display none
  opacity 0

.input input
  font_input()
  font-size 40px
  width 100%
  background transparent
  border none
  border-bottom 2px solid colors_text
  box-sizing border-box
