 @import url('https://fonts.googleapis.com/css?family=Lato:400,700');

*:focus
  outline none

body
  background colors_background
  padding 60px
  +media(mobile)
    padding 20px 10px

.app
  font_main()
  font_antialiased()
  width 100%
  // max-width 1000px
  margin 0 auto
